[submodule "vendor/openmaptiles-tools"]
	path = vendor/openmaptiles-tools
	url = https://github.com/johngian/openmaptiles-tools.git
	branch = tegola-config
[submodule "vendor/tegola"]
	path = vendor/tegola
	url = https://github.com/johngian/tegola.git
	branch = mvt-fixes
